@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  }



.fc-scrollgrid-liquid {
    border-width: 0.5px!important;
    border-radius: 10px!important;
}


th {
    border-radius: 10px!important;
    background: pi;
}

.fc-scroller {
    border-radius: 10px!important;
}

.input-label{
    display: grid!important;
    grid-template-columns: 100%!important;
    justify-content: center!important ;
    padding: 0.5em;  
}
.input-label>label{
    padding-bottom: 0.4em;
}
.detalles {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.4em;
    width: 22cm;
}

.botones {
    display: grid;
    grid-template-columns: 15% 15% 15%;
    padding: 0.5em;
    width: 22cm;
}

.botones_off {
    display: none!important;
}

.botones_on {
    display: block;
}

.bollean {
    resize: none;
    height: 3em;
}

.botones>button {
    margin: 0.4em;
}

tr {
    height: 1cm;

}

.container {
    display: grid;
    grid-template-columns: 100%;
    padding: 0.4em;
    margin-bottom: 0.4em ;
}

.fc-header-toolbar,.fc-toolbar{
} 

.calendarioGeneral {
    padding: 1em;
}

.menu-bar {
    height: 65px;
    padding: 0.4em;
}

.fc-col-header-cell-cushion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }



.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}